.description{
    font-size: 19px;
}
.name{
    font-size: 30px;
}
.share-button, .buy-button {
  background-color: #dcfb01;
  padding: 10px 15px;
  color: black; 
  font-weight: bold;
  text-decoration: none; 
  margin-right: 10px; 
  border-radius: 10px;
  font-size: 18px;
}

.share-button:hover, .buy-button:hover {
  background-color: #a7ff11; 
}
