<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lab 4</title>
  <style>
    .brand-company-name{
      margin-top: -75px;
      margin-left: 150px;
      position: relative;
      font-size: 45px;
    }
  </style>
</head>
<body>
  <main>
    <header class="brand-name">
      <img class="brand-logo" src="/assets/logo.png" alt="logo" width="200">
      <h2 class="brand-company-name">GoldApple</h2>
    </header>
    <section class="content">
      <app-product-list></app-product-list>
    </section>
  </main>   
</body>
</html>
